@model EADFinalProjet.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
   <!-- <h1>@ViewBag.Title.</h1>-->
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend><h2>Registration Form</h2></legend>
        <ol>
            <li>
                <div class="form_settings">
                <p><span>@Html.LabelFor(m => m.UserName)</span></p>
                @Html.TextBoxFor(m => m.UserName)
                    </div>
            </li>
            <li>
                <div class="form_settings">
                <p><span>@Html.LabelFor(m => m.Password)</span></p>
                @Html.PasswordFor(m => m.Password)</div>
            </li>
            <li>
                <div class="form_settings">
                <p><span>@Html.LabelFor(m => m.ConfirmPassword)</span></p>
                @Html.PasswordFor(m => m.ConfirmPassword)
                    </div>
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
