@model EADFinalProjet.Models.Feedback

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Feedback</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Feedback_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Feedback_Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Feedback_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Feedback_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Feedback_Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Feedback_Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Feedback_Message)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Feedback_Message)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
