@model EADFinalProjet.Models.JobInfo

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>JobInfo</legend>

       <!-- <div class="form_settings">
            <p><span>@Html.LabelFor(model => model.JobId)</span></p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JobId)
            @Html.ValidationMessageFor(model => model.JobId)
        </div>-->

        <div class="form_settings">
            <p><span>@Html.LabelFor(model => model.JobTitle)</span></p>
        <!--</div>
        <div class="editor-field">-->
            @Html.EditorFor(model => model.JobTitle)
            @Html.ValidationMessageFor(model => model.JobTitle)
        </div>

        <div class="form_settings">
            <p><span>@Html.LabelFor(model => model.Salary)</span></p>
        <!--</div>
        <div class="editor-field">-->
            @Html.EditorFor(model => model.Salary)
            @Html.ValidationMessageFor(model => model.Salary)
        </div>

        <div class="form_settings">
           <p><span>@Html.LabelFor(model => model.MajorField)</span></p>
        <!--</div>
        <div class="editor-field">-->
            @Html.EditorFor(model => model.MajorField)
            @Html.ValidationMessageFor(model => model.MajorField)
        </div>

        <div class="form_settings">
            <p><span>@Html.LabelFor(model => model.PostDate)</span></p>
        <!--</div>
        <div class="editor-field">-->
            @Html.EditorFor(model => model.PostDate)
            @Html.ValidationMessageFor(model => model.PostDate)
        </div>

        <div class="form_settings">
            <p><span>@Html.LabelFor(model => model.PhoneNumber)</span></p>
        <!--</div>
        <div class="editor-field">-->
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>

        <div class="form_settings">
            <p><span>@Html.LabelFor(model => model.Email)</span></p>
        <!--</div>
        <div class="editor-field">-->
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="form_settings">
            <p><span>@Html.LabelFor(model => model.City)</span></p>
        <!--</div>
        <div class="editor-field">-->
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="form_settings">
            <p><span>@Html.LabelFor(model => model.Country)</span></p>
        <!--</div>
        <div class="editor-field">-->
            @Html.EditorFor(model => model.Country)
            @Html.ValidationMessageFor(model => model.Country)
        </div>

        <div class="form_settings">
            <p><span>@Html.LabelFor(model => model.AboutCompany)</span></p>
        <!--</div>
        <div class="editor-field">-->
            @Html.EditorFor(model => model.AboutCompany)
            @Html.ValidationMessageFor(model => model.AboutCompany)
        </div>

        <div class="form_settings">
            <p><span>@Html.LabelFor(model => model.CompanyName)</span></p>
        <!--</div>
        <div class="editor-field">-->
            @Html.EditorFor(model => model.CompanyName)
            @Html.ValidationMessageFor(model => model.CompanyName)
        </div>

        <p>
            <input type="submit" value="Create"  />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
